body{
    background-color: #222;

}
.main_container
{
    width: 400px;
    background-color: #22222267;
    height: 880px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 10px;
    margin: 5px auto;
    
    display: flex;
}
.container_newcard
{
    width: 100%;
    background-color: #333;
    justify-content: center;
    display: flex;
    margin: 0 auto;


}
.newcard{
    /* background-color: #444; */
    width: 202px;
    height: max-content;    
    margin-top: 20px;
    /* border: 1px solid rgb(44, 180, 44); */
    display: flex;
    flex-direction: column;
    align-items:start;
    flex-wrap: wrap;
    
}
.newcard input{
    text-align: center;
    border: 1px #222;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 2px #222;
}
.newcard input[type="radio"] 
{
        box-shadow: 0px 0px 0px 0px #ffffff00;
        width: max-content;
        margin:0;
        margin-right: 10px;
}
.selects_
{
    margin-top: 10px;
    height: 26px;
    width: 200px;
}
.newcard label{
    color: #222;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #00000000;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #ffffff00;

}
.pw_container
{
    margin: 0;
    display: flex;
    width: 200px;

    /* border: 1px solid #000; */
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 2px #222;

}
.maininfo_container
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#powerinput, #rpminput
{
    width: 95px;
    margin: 0;
}
#rpmselect
{
    text-align: center;
    color: #000000;
    width: 95px;
    height: 26px;
    background-color: #ffffff;
    border: 0px solid #ffffff00;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #222;

}

select {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 2px #222;
    border: 0px solid #00000000;
    border-radius: 5px;
    color: #000000;

}

.inout_container
{
    margin-top: 1px;
    display: flex;
    justify-content: space-around;
}
.input_container
{
    margin-top: 10px;
}
.input_container input[type="radio"] 
{
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.up_container
{
    display: flex;
    justify-content: space-between;
}
.up_container label
{
    width: 49%;
    transition: 0.4s;
}
.down_container
{
    display: flex;
    justify-content: space-around;
}
.down_container input[type="radio"]
{
    display: none;
}
textarea
{
    margin-top: 10px;
    width: 200px;
    background-color: #ffffff;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #222;
    resize: none;
    color: black;
}
#myButton
{
    text-align: center;
    border: 1px #222;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
    background-color: rgb(255, 255, 255)fff;
    box-shadow: 1px 1px 10px 2px #222;
    color: #000000
}

.hidden_input
{
    display: none;
}