body{
    background-color: #222;
    text-align: center;
}
.main_container
{
    width: 400px;
    background-color: #22222267;
    height: 880px;
    height: 100%;
    border: 2px solid #1f1f1f;
    border-radius: 10px;
    margin: 5px auto;
    
    display: flex;
    flex-direction: column;
}
.search_container
{

    
}
.search_container input
{
    width: 300px;
    height: 40px;
}
#search_input
{
    background-color: #333;
    transition: 1s;
    border: 1px solid #bababa00;
}
#search_input:hover
{
    cursor: pointer;
    border: 1px solid #bababa;
    transition: 0.5s;
}
#search_input::placeholder
{
    color: #bababa;
}

.container_newcard
{
    width: 100%;
    background-color: #333;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border: 0px solid #222;
    border-radius: 0px 0px 5px 5px;
}
.newcard, .newcard input, .newcard select, .newcard textarea, .newcard button
{
    width: 300px;
    height: 40px;

}
.newcard{
    height: max-content;    
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items:start;
    flex-wrap: wrap;

}
.main_container input{
    text-align: center;
    border: 1px #222;
    border-radius: 5px;
    margin-top: 10px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 2px #222;
}
.phone_container
{
    
}
#phoneinput
{
    margin-top: 0px;
}
.photo_container
{
    width: 100%;
    display: flex;
}
#photoinput
{
    width: auto;
    height: 40px;
    display: none;
    border: 1px solid #ccc;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.newcard input[type="radio"] 
{
        box-shadow: 0px 0px 0px 0px #ffffff00;
        width: max-content;
        margin:0;
        margin-right: 10px;
}
.selects_
{
    margin-top: 10px;
    height: 26px;
    width: 200px;
}
.newcard label{
    color: #222;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #00000000;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #ffffff00;

}
.pw_container
{
    margin: 0;
    display: flex;
    width: 200px;

    /* border: 1px solid #000; */
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 2px #222;

}
.maininfo_container
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.maininfo_container input, .maininfo_container select
{
    width: auto;
    height: 30px;
}


#powerinput
{
    width: 145px;
    margin: 0;
}
#rpmselect
{
    text-align: center;
    color: #000000;
    width: 145px;
    height: 100%;
    background-color: #ffffff;
    border: 0px solid #ffffff00;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #222;

}

select {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 2px #222;
    border: 0px solid #00000000;
    border-radius: 5px;
    color: #000000;

}
.link_project_m
{
    position: fixed;
    top: 95%;
    left: 20px;
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    color: #222;
}
.inout_container
{
    margin-top: 1px;
    display: flex;
    justify-content: space-around;
}
.input_container
{
    margin-top: 10px;
    /* height: 40px; */
}
.input_container input[type="radio"] 
{
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.up_container
{
    display: flex;
    justify-content: space-between;
    /* height: 40px; */
}
.up_container_label
{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    width: 49%;
}
.up_container label
{
    transition: 0.4s;
    height: 100%;
    padding: 5px;
    
}
.down_container
{
    display: flex;
    justify-content: space-around;
}
.down_container input[type="radio"]
{
    display: none;
}
textarea
{
    margin-top: 10px;
    width: 200px;
    background-color: #ffffff;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #222;
    resize: none;
    color: black;
    text-align: center;
}
#myButton
{
    text-align: center;
    border: 1px #222;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255)fff;
    box-shadow: 1px 1px 10px 2px #222;
    color: #000000
}

.hidden_input
{
    display: none;
}

/* project_m */

.total_container
{
    width: 400px;
    justify-content: space-around;
   
    background-color: #373737b1;
    
}
.main
{
    
    
}
.counter_container
{
    background-color: #282828b1;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    padding: 2px;
    border: 1px solid #2d58c6;
}
.buttomgroupe
{

    height: 100px;
}