body{
    background-color: #444;
    color : #fff;
    text-align: center;
}
h1
{
    font-size: medium;
}
.result
{
    width: 50px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
}
.main
{
    width: max-content;
    height: 25px;
    margin: 0 auto;
    padding: 0;
}

.main_inp{
    height: 100%;
    border-radius: 10px;
}
.main_btn
{
    width: 60px;
    height: 100%;
    border-radius: 10px;
    
}
